{
  :bot {
    :ns   "ctac-bot.commands"
    :logo "https://cdn.discordapp.com/icons/875378609567698994/e141f7835fec7526bb36be1824134fb9.png"
  }

  :discord-api-token          #env DISCORD_API_TOKEN
  :discord-event-channel-size 100
}
